body{
     padding-top: 60px;
    margin: 0px;

    font-family: 'Roboto';
    font-weight: 100px;
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a img{


    width: 400px;

}


@media(max-width:  992px){

    nav a img {
        width: 300px;
    }


.navbar-brand{
    float: left;

   margin-left: 0px;
}


}



.navbar {
    background-color:   #F8F8F8;
    
}

.navbar-brand{
    float: left;

   margin-left: 70px;
}
/*@media(max-width: 767){
 .navbar-toggler-icon{
   border: none;
   outline: none;
}
}
*/



.custom-toggler.navbar-toggler {
    border-color: none;
    border: none;
    background: transparent;
    background-color: transparent;
    margin-top: 20px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.icon-bar{
    width: 7PX;
    height: 1PX;
    background-color: black;
    margin: 1px 0;
}

.navbar-toggler .navbar-toggler-right{
    padding: 0px
}
.navbar-nav{
    font-size: 14px;
  position: relative;
  left: 400px;
}
.nav-item{
    padding: 0px 10px;
}


/*-----------------------
ABOUT
-------------------------*/




.welcome  {
 font-family: 'Roboto';
 font-weight: 100;

padding: 100px 50px;
}

.welcome > h1 {
    font-size: 42px;
    font-weight: bold;
    color: rgb(72,72,72);
    }

.welcome h1 span {
    font-weight: 300;
}

.welcome p {
    font-size: 28px;
    color:  gray;
    margin-bottom: 30px;
}

.welcome a {
    font-size: 14px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 0px auto;
    display: table;
    text-decoration: none

}

.welcome a:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*-------------------------
        MINISTRIES
---------------------------*/

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
  
}

.service-box p {
  margin-bottom: 0;
}




.container-margins{
    margin-top: 150px;

}
.image{
    float: left;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 1px 1px;
}

.image > a{
    font-size: 28px;
    font-family:'Gloria Hallelujah';
    position: absolute;
    color: #fff;
    top: 50%;
    right: 55%;
    width: 40px;

transform: rotate(360deg) scale(1.2);
transition: all 0.4s linear;
}

.image> a:hover{
    color: #fff;
    text-decoration: none;
}

.image:hover > a{
    transform: rotate(0deg) scale(1);
}

.image::before{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.74);
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.4s linear;
}


.image:hover::before{
    opacity: 1;
}

.zero-padding {
    padding-left: 0px;
    padding-right:0px;
}



/*----------------------------------
        MESSAGE CENTER
-----------------------------------*/
.msg-padding{
    /*padding-top: 50px;*/

}

.msg {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #b2beb5;
    font-family: 'Roboto';
    font-weight:100;
    color: white;
    font-size: 20px;
}
hr{
    max-width: 300px;
    border-width: 3px;
    border-color: white;
    height: 1px;
    border: 0;
    background: white;
}

.btn-primary{
background: none;
background-color: none;
border: 1px solid white;
}

.btn-primary:hover{
    background: none;
background-color: none;
border: 1px solid white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-secondary{
    color: #8bce74;
    background: none;
background-color: none;
border: 1px solid #78d358;
}


.btn-secondary:hover{
background: none;
background-color: none;
border: 1px solid #78d358;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*-----------------------------
        SERVICE TIMES AND ACTIVITIES
-------------------------------*/

.connect{

}

.service-box > h3{

    font-size: 24px;

}



/*---------------------------------------
                FOOTER
------------------------------------------*/
.blackish{

margin-bottom: 0px;
bottom-padding: 0px;
    background-color: #384a56;
    color: white;
    font font-family: 'Roboto';

    font-weight: 300;
    font-size: 12px;

  


}

.blackish a {
   
      text-decoration: none;
   
}
.blackish a:hover{
    color: #fff;
}
.blackish li {
     margin: 5px 0px;
     list-style: none;
}


.upper-footer{
    padding-top: 30px;
    padding-bottom: 70px;

}
i{
    padding: 0px 5px;
}
.bottom-footer{
    padding: 5px 0px;
    margin: 0px 0px;
    border-top: 1px solid #58707f;
}
